.container-responsive {
  width: 100%;
}

.container-responsive * {
  max-width: 100%;
}

.row-responsive {
  width: 100%;
}

.display-responsive {
  display: block;
}

.elm-center {
  display: block;
  margin: auto;
}

.inline {
  display: inline-flex;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 576px) {

  .display-responsive {
    display: block;
  }

  .col-small-none {
    display: none;
  }

  .col-small-1 {
    width: 8.33%;
  }

  .col-small-2 {
    width: 16.66%;
  }

  .col-small-3 {
    width: 25%;
  }

  .col-small-4 {
    width: 33.33%;
  }

  .col-small-5 {
    width: 41.66%;
  }

  .col-small-6 {
    width: 50%;
  }

  .col-small-7 {
    width: 58.33%;
  }

  .col-small-8 {
    width: 66.66%;
  }

  .col-small-9 {
    width: 75%;
  }

  .col-small-10 {
    width: 83.33%;
  }

  .col-small-11 {
    width: 91.66%;
  }

  .col-small-12 {
    width: 100%;
  }



  .col-small-1 * {
    max-width: 100%;
  }

  .col-small-2 * {
    max-width: 100%;
  }

  .col-small-3 * {
    max-width: 100%;
  }

  .col-small-4 * {
    max-width: 100%;
  }

  .col-small-5 * {
    max-width: 100%;
  }

  .col-small-6 * {
    max-width: 100%;
  }

  .col-small-7 * {
    max-width: 100%;
  }

  .col-small-8 * {
    max-width: 100%;
  }

  .col-small-9 * {
    max-width: 100%;
  }

  .col-small-10 * {
    max-width: 100%;
  }

  .col-small-11 * {
    max-width: 100%;
  }

  .col-small-12 * {
    max-width: 100%;
  }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

  .display-responsive {
    display: inline-flex;
  }

  .col-medium-none {
    display: none;
  }

  .col-medium-1 {
    width: 8.33%;
  }

  .col-medium-2 {
    width: 16.66%;
  }

  .col-medium-3 {
    width: 25%;
  }

  .col-medium-4 {
    width: 33.33%;
  }

  .col-medium-5 {
    width: 41.66%;
  }

  .col-medium-6 {
    width: 50%;
  }

  .col-medium-7 {
    width: 58.33%;
  }

  .col-medium-8 {
    width: 66.66%;
  }

  .col-medium-9 {
    width: 75%;
  }

  .col-medium-10 {
    width: 83.33%;
  }

  .col-medium-11 {
    width: 91.66%;
  }

  .col-medium-12 {
    width: 100%;
  }



  .col-medium-1 * {
    width: 100%;
  }

  .col-medium-2 * {
    width: 100%;
  }

  .col-medium-3 * {
    max-width: 100%;
  }

  .col-medium-4 * {
    max-width: 100%;
  }

  .col-medium-5 * {
    max-width: 100%;
  }

  .col-medium-6 * {
    max-width: 100%;
  }

  .col-medium-7 * {
    max-width: 100%;
  }

  .col-medium-8 * {
    max-width: 100%;
  }

  .col-medium-9 * {
    max-width: 100%;
  }

  .col-medium-10 * {
    max-width: 100%;
  }

  .col-medium-11 * {
    max-width: 100%;
  }

  .col-medium-12 * {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

  .display-responsive {
    display: inline-flex;
  }

  .col-large-none {
    display: none;
  }

  .col-large-1 {
    width: 8.33%;
  }

  .col-large-2 {
    width: 16.66%;
  }

  .col-large-3 {
    width: 25%;
  }

  .col-large-4 {
    width: 33.33%;
  }

  .col-large-5 {
    width: 41.66%;
  }

  .col-large-6 {
    width: 50%;
  }

  .col-large-7 {
    width: 58.33%;
  }

  .col-large-8 {
    width: 66.66%;
  }

  .col-large-9 {
    width: 75%;
  }

  .col-large-10 {
    width: 83.33%;
  }

  .col-large-11 {
    width: 91.66%;
  }

  .col-large-12 {
    width: 100%;
  }



  .col-large-1 * {
    max-width: 100%;
  }

  .col-large-2 * {
    max-width: 100%;
  }

  .col-large-3 * {
    max-width: 100%;
  }

  .col-large-4 * {
    max-width: 100%;
  }

  .col-large-5 * {
    max-width: 100%;
  }

  .col-large-6 * {
    max-width: 100%;
  }

  .col-large-7 * {
    max-width: 100%;
  }

  .col-large-8 * {
    max-width: 100%;
  }

  .col-large-9 * {
    max-width: 100%;
  }

  .col-large-10 * {
    max-width: 100%;
  }

  .col-large-11 * {
    max-width: 100%;
  }

  .col-large-12 * {
    max-width: 100%;
  }
}

@media screen and (min-width: 993px) {

  .display-responsive {
    display: inline-flex;
  }

  .col-xlarge-none {
    display: none;
  }

  .col-xlarge-1 {
    width: 8.33%;
  }

  .col-xlarge-2 {
    width: 16.66%;
  }

  .col-xlarge-3 {
    width: 25%;
  }

  .col-xlarge-4 {
    width: 33.33%;
  }

  .col-xlarge-5 {
    width: 41.66%;
  }

  .col-xlarge-6 {
    width: 50%;
  }

  .col-xlarge-7 {
    width: 58.33%;
  }

  .col-xlarge-8 {
    width: 66.66%;
  }

  .col-xlarge-9 {
    width: 75%;
  }

  .col-xlarge-10 {
    width: 83.33%;
  }

  .col-xlarge-11 {
    width: 91.66%;
  }

  .col-xlarge-12 {
    width: 100%;
  }




  .col-xlarge-1 * {
    max-width: 100%;
  }

  .col-xlarge-2 * {
    max-width: 100%;
  }

  .col-xlarge-3 * {
    max-width: 100%;
  }

  .col-xlarge-4 * {
    max-width: 100%;
  }

  .col-xlarge-5 * {
    max-width: 100%;
  }

  .col-xlarge-6 * {
    max-width: 100%;
  }

  .col-xlarge-7 * {
    max-width: 100%;
  }

  .col-xlarge-8 * {
    max-width: 100%;
  }

  .col-xlarge-9 * {
    max-width: 100%;
  }

  .col-xlarge-10 * {
    max-width: 100%;
  }

  .col-xlarge-11 * {
    max-width: 100%;
  }

  .col-xlarge-12 * {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {

  .display-responsive {
    display: inline-flex;
  }

  .col-super-large-none {
    display: none;
  }

  .col-super-large-1 {
    width: 8.33%;
  }

  .col-super-large-2 {
    width: 16.66%;
  }

  .col-super-large-3 {
    width: 25%;
  }

  .col-super-large-4 {
    width: 33.33%;
  }

  .col-super-large-5 {
    width: 41.66%;
  }

  .col-super-large-6 {
    width: 50%;
  }

  .col-super-large-7 {
    width: 58.33%;
  }

  .col-super-large-8 {
    width: 66.66%;
  }

  .col-super-large-9 {
    width: 75%;
  }

  .col-super-large-10 {
    width: 83.33%;
  }

  .col-super-large-11 {
    width: 91.66%;
  }

  .col-super-large-12 {
    width: 100%;
  }




  .col-super-large-1 * {
    max-width: 100%;
  }

  .col-super-large-2 * {
    max-width: 100%;
  }

  .col-super-large-3 * {
    max-width: 100%;
  }

  .col-super-large-4 * {
    max-width: 100%;
  }

  .col-super-large-5 * {
    max-width: 100%;
  }

  .col-super-large-6 * {
    max-width: 100%;
  }

  .col-super-large-7 * {
    max-width: 100%;
  }

  .col-super-large-8 * {
    max-width: 100%;
  }

  .col-super-large-9 * {
    max-width: 100%;
  }

  .col-super-large-10 * {
    max-width: 100%;
  }

  .col-super-large-11 * {
    max-width: 100%;
  }

  .col-super-large-12 * {
    max-width: 100%;
  }
}
